<div class="main-content">
    <div class="section-content section-content-p30">
        
        <h4>{{ currentTitle }}</h4>
        <hr>
        
        <div class="container-fluid">
            <div class="columns is-multiline">
                <div *ngFor="let product of products" class="column is-one-quarter">
                    <div class="product-box">
                        <a routerLink="/products/{{product.id}}">
                            <img src="{{ product.imageUrl }}" class="img-responsive">
                        </a>
                        <a routerLink="/products/{{product.id}}">
                            <h1 class="truncate">{{ product.name }}</h1>
                        </a>
                        <div class="price">
                            {{ product.unitPrice | currency: "EUR" }}
                        </div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>

                <div *ngIf="products?.length == 0" class="container notification is-danger" role="alert">
                    No products found.
                </div>
            </div>

            <!-- begin pagination -->
            <div class="footer-pagination">
                <div class="columns">
                    <div class="column is-half"></div>

                    <div class="column is-half">
                        <div class="columns">
                            <div class="column is-two-thirds" style="padding-left: 30%;">
                                <ngb-pagination [(page)]="pageNumber"
                                                [pageSize]="pageSize"
                                                [collectionSize]="totalElements"
                                                (pageChange)="listProducts()">
                                </ngb-pagination>
                            </div>

                            <div class="column is-one-thirds" style="text-align: right;">
                                <span class="mr-2">Page Size</span>
                                <select>
                                    <option selected="true">5</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>50</option>
                                </select>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <!-- end pagination -->

        </div>
    </div>
</div>
